body {
    height: 100vh;
    width: 100vw;
}

.button {
    height: 800px;
    width: 1000px;
    font-size: 100px;
    color: green;
    background-color: pink;

}

.shamalama {
    height: 600px;
    width: 800px;
    font-size: 200px;
    color: #252525;
    background-color: #686868;    
}